 {% extends('layout/user.html') %} {% block main_section %}
<div class="col-md-9">
    <div class="myform-box mt-3">
        <h1 class="mt-5">Change Password</h1>
        <form method="post" action="{{ url_for('change_password') }}">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}
            <div class="form-group">
                <label for="current_password">Old Password:</label>
                <input type="password" class="form-control" name="old_password" required>
            </div>
            <div class="form-group">
                <label for="new_password">New Password:</label>
                <input type="password" class="form-control" name="new_password" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" class="form-control" name="confirm_password" required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn button-box">Change Password</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}