{% extends('layout/layout.html') %} {% block main_section %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6 myform-box">

            <h1>Doctor Register Here</h1>
            <form method="post" action="{{ url_for('doctor_registration') }}">
                {% with messages = get_flashed_messages() %} {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %} {% endwith %}
                <fieldset>
                    <h6>Personal Information</h6>
                    <div class="form-group mt-2">
                        <label for="fname">Full Name</label>
                        <input type="text" class="form-control" name="full_name" id="fname" placeholder="Enter your name" value="">
                    </div>
                    <div class="form-group mt-2">
                        <label for="inputEmail">Email address</label>
                        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Enter email" value="">
                    </div>
                    <div class="form-group mt-2">
                        <label for="phone_name">Phone No</label>
                        <input type="number" name="phone_no" class="form-control" id="phone_no" placeholder="Enter your phone no" value="">
                    </div>

                    <div class="form-group mt-2">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    <div class="form-group mt-2">
                        <label for="inputConfirmPassword">Confirm Password</label>
                        <input type="password" name="confirm_password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
                    </div>
                </fieldset>

                <fieldset>
                    <h6>Location </h6>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input type="text" name="address" class="form-control" id="address" placeholder="Enter your address" required>
                    </div>
                    <div n class="row g-3">
                        <div class="col">
                            <label for="zipCode">City</label>
                            <select name="city" class="form-control mt-2">
                                <option value="">Select City</option>
                                <option value="azamgarh">Azamgarh</option>
                                <option value="jaunpur">Jaunpur</option>
                                <option value="varanasi">Varanasi</option>
                                <option value="lucknow">Lucknow</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="zipCode">ZIP Code:</label>
                            <input type="text" name="zip_code" class="form-control" id="zipCode" placeholder="Enter ZIP code" required>
                        </div>
                    </div>

                </fieldset>


                <fieldset>
                    <h6>Professional Information</h6>
                    <div class="form-group mt-2">
                        <label for="doctor_fee">Doctor Visit Fee:</label>
                        <input type="text" class="form-control" id="doctor_fee" name="doctor_fee" value="" required>

                    </div>
                    <div class="form-group mt-2">
                        <label for="specialization">Specialization:</label>
                        <input type="text" class="form-control" id="specialization" name="specialization" value="" required>

                    </div>

                    <div class="form-group mt-2">
                        <label for="qualification">Qualification:</label>
                        <input type="text" class="form-control" id="qualification" name="qualification" value="" required>
                    </div>

                    <div class="form-group mt-2">
                        <label for="experience">Years of Experience:</label>
                        <input type="text" class="form-control" id="experience" name="experience" value="" required>
                    </div>

                    <div class="form-group mt-2">
                        <label for="license">License Number:</label>
                        <input type="text" class="form-control" id="license" name="license" value="" required>
                    </div>

                    <div class="form-group mt-2 text-center">
                        <button type="submit" class="btn button-box">Sign Up</button>
                    </div>
                    <div class="form-group mt-3 text-center">
                        <p>If you have alredy Registered then <a href="{{url_for('login')}}">click here.</a> for login</p>
                    </div>
                </fieldset>

            </form>

        </div>
    </div>
</div>


{% endblock %}