{% extends('layout/layout.html') %} {% block main_section %}
<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6 myform-box">

            <h1>User login </h1>
            <form method="post" action="{{url_for('login')}}">
                {% with messages = get_flashed_messages() %} {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %} {% endwith %}
                <div class="form-group mt-2">
                    <label for="inputEmail">Email address</label>
                    <input type="text" name="username_or_email" class="form-control" id="inputEmail" placeholder="Enter email">
                </div>

                <div class="form-group mt-2">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>

                <div class="form-group mt-2 text-center">
                    <button type="submit" class="btn button-box">Login</button>
                </div>
                <div class="form-group mt-3 text-center">
                    <p>If you forgot your password then <a href="{{url_for('forgot_password')}}">click here.</a></p>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}