<div class="my-header">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h1 class="text-logo">My Doctor App</h1>
            </div>
            <div class="col-md-7">
                <form class="seach-form w100">
                    <input type="text" placeholder="search doctors by name" />
                    <input type="submit" value="seach" />
                </form>
            </div>
            <div class="col-md-3 right-top-button">
                <a class="login-btn" href="{{url_for('login')}}">Login</a>
                <a class="sign-btn" href="{{url_for('registration')}}">Signup</a>
            </div>
        </div>
    </div>
</div>