<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Your Doctor And Book Appointment - My Doctor App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    {% include('common/header.html') %} {% block main_section %}{% endblock %}

    <!--footer-->
    {% include('common/footer.html') %}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script> -->
    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>


</body>

</html>