body {
    font-family: sans-serif;
    background-color: #f3fffe;
}

.my-header {
    background: #ffffff;
    box-shadow: 0 0 2px #000;
}

h1.text-logo {
    font-size: 20px;
    margin: 15px 0;
    font-family: sans-serif;
}


/* seach box*/

form.seach-form {
    text-align: center;
    margin-top: 0px;
}

form.seach-form input[type=text] {
    background: white;
    width: 50%;
    padding: 5px 15px;
    border: 1px solid #bcbcbc;
    font-size: 14px;
    border-radius: 20px 0 0 20px;
}

form.seach-form input[type=submit] {
    background: #aed82e;
    padding: 5px 25px;
    font-size: 14px;
    border: 1px solid transparent;
    margin-left: -5px;
    border-radius: 0 20px 20px 0;
}


/* right top button */

.right-top-button {
    text-align: right;
    margin-top: 0px;
}

a.login-btn {
    display: inline-block;
    background: #1f4c85;
    padding: 5px 15px;
    margin-top: 0px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

a.sign-btn {
    display: inline-block;
    background: #aed82e;
    padding: 5px 15px;
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

form.filter-box select {
    padding: 2px 5px;
    border: 0px;
    border-bottom: 1px solid #838383;
}


/*footer*/

footer {
    background: #222222;
    margin-top: 100px;
    color: #fff;
}

h4 {
    color: #fff;
    font-size: 16px;
}

footer a {
    color: #ababab;
    font-size: 12px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #FA944B;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoFacebook:hover i {
    color: #fff;
}

.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover {
    color: #44BCDD;
}

.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}

.social-network a:hover {
    background: #ff304d;
}


/* registration_box*/

.myform-box {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px 0 rgba(2, 2, 2, .07);
}

.myform-box h1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.myform-box label {
    font-size: 14px;
    color: #585858;
}

.button-box {
    background: #1f4c85;
    color: #fff;
    width: 50%;
    margin-top: 15px;
}

.myform-box input {
    margin-top: 8px;
    font-size: 12px;
    padding: 10px;
}

.button-box:hover {
    background: #aed82e;
}

.list-box {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 15px;
    background: #fff;
    padding: 8px 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px dotted #ccc;
}

.avatar-box {
    border: none;
    background: #fff;
}

.right-top-button button img {
    border-radius: 50%;
    border: 1px solid #b0b0b0;
}

.list-box-content p {
    margin-bottom: 5px;
    color: #5a5858;
}

.list-box-content p strong {
    color: #000;
}

.left-sidebar {
    background: #fff;
    margin-top: 15px;
    box-shadow: 0 5px 20px 0 rgba(2, 2, 2, .07);
}

.right-sidebar {
    background: #fff;
    margin-top: 15px;
    box-shadow: 0 5px 20px 0 rgba(2, 2, 2, .07);
}

h6 {
    margin-top: 10px;
    font-size: 19px;
}

img.logo {
    width: 150px;
    padding: 7px 0;
}